:root{
	--cor-de-fundo:#2EC8EA;
	--cor-da-fonte:#A02323;
	--cor-do-degrade: violet;
	--cor-do-2-degrade:#B48FE3;
	--cor-do-3-degrade:#E677B4;
}

*{
	margin: 0;
	padding: 0;
}

.cabecalho{
	background-color: var(--cor-de-fundo);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 24px 0;
}

.cabecalho-imagem{
	width:15%;
}

.link{
	text-decoration: none;
	color: var(--cor-da-fonte);
}

.link:hover {
	color:rgb(255, 4, 8)
}

.link:active {
	text-decoration: underline;
	color: #1df600;
}

.lista-link{
	display: inline-block;
	margin: 0 16px;
	font-size: 20px;
	color: var(--cor-da-fonte);
}

body{
	font-family: 'Changa One', cursive;
	background-image: linear-gradient(var(--cor-de-fundo), var(--cor-do-degrade));
}

.container{
	display: flex;
	align-items: center;
	text-align: center;
	
}

#proposta{
	
	margin: 0 10px;
	padding: 10px 0;
	
}

.proposta-imagem{
	width: 35%;
	box-shadow: -1px 10px 18px #3a8a61;
	border-radius: 10%;
}

.titulo-proposta{
	font-size: 48px;
	margin: 20px 0;
}

.texto-proposta{
	font-size: 24px;
	margin: 10px 0;
	padding: 0 10px;
}

#estudos{
	background-image: linear-gradient(var(--cor-do-degrade), var(--cor-do-2-degrade));
	margin: 0 10px;
	
}

.imagem-estudos{
	width: 35%;
	box-shadow: 10px 10px 18px #2718cc;
	border-radius: 4%;
}

.estudos-titulo{
	font-size: 48px;
	margin: 20px 0;
}

.estudos-texto{
	font-size: 24px;
	margin: 10px 0;
	padding: 0 10px;
}

#Pmudancas{
	background-image: linear-gradient(var(--cor-do-2-degrade), var(--cor-do-3-degrade));
	margin: 0 10px;
}

.Pmudancas-titulo{
	font-size: 48px;
	margin: 20px 0;
}

.Pmudancas-texto{
	font-size: 24px;
	margin: 10px 0;
	padding: 0 10px;
}

.rodape{
	background-color: #1b6887;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.rodape-imagem{
	width: 15%;
}

.rodape-texto{
	font-size: 26px;
}
